@page
@{
    ViewData["Title"] = "Lista de Personas";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Enlazar el archivo CSS externo -->
    <link rel="stylesheet" href="~/css/EjemploTablaConWebApi.css">

</head>
<body>

    <h1>@ViewData["Title"]</h1>

    <!-- Tabla para mostrar los resultados -->
    <button id="btnNew">Nuevo</button>
    <div class="table-responsive">
        <table id="personaTable">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>IdPersona</th>
                    <th>Nombre</th>
                    <th>ApPaterno</th>
                    <th>ApMaterno</th>
                    <th>FechaNacimiento</th>
                    <th>Sexo</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Saldo</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se llenarán los datos con JavaScript -->
            </tbody>
        </table>
    </div>

    <!-- Modal de Edición -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Persona</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalContent">
                    <!-- Aquí se cargará el contenido del cshtml -->
                </div>
            </div>
        </div>
    </div>

    <!-- Script para enlazar el archivo de JavaScript externo -->
    <script src="~/js/defaults.js"></script>
    <script src="~/js/EjemploTablaConWebApi.js"></script>
</body>
</html>
